<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Reenactors Handbook</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="/masonry"></script>
  <script src="/imagesLoaded"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class="backgroundArt">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="/home">Reenactors Handbook</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/maker">My Kits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/changePass">Change Password</a>
      </li>
    </ul>
    <input id="addKitForm" type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#makeKit" value="Add New Reeactment Kit"/>
  </nav>

  <div id="content">  
  </div>

  <script src="/assets/bundle.js"></script>
</body>
</html>